body {
  font-size: 16px;
  color: #aaa;
  background-color: #fff;
  font-family: helvetica;
}

/** HEADER **/
.navbar{
	margin-bottom: 0px;
	background-color: #fff;
}
#header-nav {
  background-color: #C0C0C0;
  border-radius: 0;
  border: 1;
  border-color: #000000;
}
#navbar-header{
	background-color: #fff;
	border-radius: 0;
	border: 3px;
}
.container .nav-header .navbar-brand{
  padding-left: 0px;
  color: #aaa;
  margin: 0px;
  border: 3px;
}
.container{
	 margin-left: 0px;
}
.navbar-brand {
  padding-top: 5px;
  padding-left: 10px;
}
.navbar-brand h1 { /* Title Company */
  font-family: helvetica;
  color: #000000;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: .8;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#nav-list a {
  color: #000000;
  background-color: #F5F5F5;
  text-align: center;
  font-weight: bold;
}
#d1, #d2, #d3{
	margin: 0px;
} 

/* END HEADER */

/* HOME PAGE */
.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #aaa;
}

 #page-heading{
	  width: 100%;
	  font-size: 1.1em;
  }

#main-content {
  color: #000000;
  background-color: #fff;
  padding-top: 15px;
  font-weight: bold;
  margin: 0px;
}

.menu-title1, .menu-title2, .menu-title3{
	background-color: #C0C0C0;
	font-size: 0.8em;
	text-align: center;
}

.content{
	background-color: #C0C0C0;
}

.content{
	font-size: 0.6em;
}


/********** Large devices only **********/
@media (min-width: 1200px) {


 /* Home Page */
  #page-heading{
	  width: 100%;
  }
  /* End Home Page */
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */

  /* End Header */

   /* Home Page */
  /* Home Page */

  /* End Home Page */
  /* End Home Page */

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
/* Header */
.container{
	 margin-left: 0px;
}
.navbar-brand {
  padding-top: 5px;
  padding-left: 10px;
}

.navbar-brand h1 { /* Title Company */
  font-family: helvetica;
  color: #000000;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: .8;
}
/*End header */
  /* Home Page */

  /* End Home Page */

}

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
.container{
  margin-left: 0px;
}
.navbar-brand {
  padding-top: 5px;
  padding-left: 10px;
}

.navbar-brand h1 { /* Title Company */
  font-family: helvetica;
  color: #000000;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: .8;
}

#collapsable-nav{
	background-color: #fff;
}
  /* End Header */

  /* Home Page */
  #page-heading{
    width: 100%;
   }
.menu-title1, .menu-title2, .menu-title3{
  font-size: 1em;
}
  /* End Home Page */

  
}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
 .container{
	 margin-left: 0px;
}
.navbar-brand {
  padding-top: 5px;
  padding-left: 10px;
}

.navbar-brand h1 { /* Title Company */
  font-family: helvetica;
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  line-height: .8;
}
  /* End Header */
  
 /* Home Page */
  #page-heading{
    width: 100%;
   }
.menu-title1, .menu-title2, .menu-title3{
  font-size: 1em;
}
  /* End Home Page */

 
}